.leftNavBar {
  display: flex;
  flex-direction: column;
  background: #F9F9FA;
  height: 100vh;
  width: 240px;
  min-width: 240px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .logoContainer {
    display: flex;
    justify-content: flex-start;
  }

  .sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .section {
      display: flex;
      font-size: 16px;
      margin-bottom: 15px;

      .sectionImage {
        margin-right: 10px;
        display: block;
      }
    }

    .disabledSection {
      color: #97999B;
    }
  }

  .button {
    background-color: #F8D964;
    border-radius: 10px;
    border: 0;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span {
      margin-right: 35px;
    }

  }
}