.container {

}

.main {
  display: flex;
  flex-direction: row;


  .content {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

    }

    .saveBtn {

      background: #F8D964;
      border-radius: 10px;
      padding: 20px;
      width: 200px;
      display: flex;
      justify-content: space-between;

      margin-bottom: 50px;
      cursor: pointer;
      border: 0;
    }

    .header {
      .title {
        font-size: 24px;
        font-weight: normal;
        border-bottom: 1px solid #F1F1F2;
        width: 100%;
        padding-bottom: 25px;
        margin-bottom: 32px;
      }

      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }

    }

    .formFragment {
      background: #F9F9FA;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 23px;
      width: 100%;
      max-width: 500px;

      span {
        margin-bottom: 20px;
        margin-top: 0;
        display: block;
      }

      input {
        border: 1px solid #DDDDDF;
        box-sizing: border-box;
        border-radius: 10px;
        height: 48px;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin-bottom: 20px;

        &:disabled {

          background: #EDEDED;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .tripsList {
    width: 320px;
    min-width: 320px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #F1F1F2;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    .title {
      font-size: 24px;
      font-weight: normal;
      width: 100%;
      padding-bottom: 25px;
      margin-bottom: 22px;
    }


    .trip {
      background: #F9F9FA;
      border-radius: 10px;
      padding: 20px;

      .tripDetails {
        .countryContainer {
          display: flex;

          .countryLogo {
            margin-right: 5px;
          }

          .country {

          }
        }

        .sectionTitle {

          color: #63666A;

          font-size: 12px;
          margin-bottom: 5px;
          margin-top: 10px;
          display: block;
        }

        .company {

        }

        .address {

        }

        .date {

        }
      }

      .buttons {
        .okBtn {
          background: #F1F1F2;
          border-radius: 10px;
          border: 0;
          display: flex;
          color: #76787B;
          font-size: 14px;
          width: 100%;
          justify-content: space-between;
          margin-top: 20px;
          padding: 15px 20px;
          cursor: pointer;
        }
      }
    }
  }
}