.container {

}

.main {
  display: flex;
  flex-direction: row;


  .content {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    padding-top: 40px;

    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

    }

    .title {
      font-size: 24px;
      font-weight: normal;
      border-bottom: 1px solid #F1F1F2;
      width: 100%;
      padding-bottom: 25px;
      margin-bottom: 32px;
    }

    .header {

      @media screen and (max-width: 768px) {
        display: none;
      }

    }

    .formFragment {
      background: #F9F9FA;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 23px;

      span {
        margin-bottom: 20px;
        margin-top: 0;
        display: block;
      }

      input {
        background: #EDEDED;
        border: 1px solid #DDDDDF;
        box-sizing: border-box;
        border-radius: 10px;
        height: 48px;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .tripsList {
    width: 320px;
    min-width: 320px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #F1F1F2;

    @media screen and (max-width: 1200px) {
      display: none;
    }


    .trip {
      background: #F9F9FA;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 88px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .tripDetails {
        display: flex;
        align-items: center;


        .firstRow {
          display: flex;
          margin-bottom: 5px;

          @media screen and (max-width: 1024px) {
            flex-direction: column;
          }

          .country {
            margin-right: 40px;
          }

          .date {
            color: #97999B;

          }
        }

        .secondRow {
          display: flex;

          @media screen and (max-width: 1024px) {
            flex-direction: column;
          }

          .company {
            margin-right: 40px;
          }

          .address {
            color: #97999B;

          }
        }
      }

      .countryLogo {
        margin-right: 20px;
      }

      .buttons {
        min-width: 126px;
        padding-left: 20px;

        button {
          width: 48px;
          height: 48px;
          border: 0;
          cursor: pointer;
        }

        .removeBtn {
          background: #FBEBE9;
          border-radius: 10px;
          margin-right: 10px;

          > div {

            top: 2px;
          }
        }

        .okBtn {
          background: #F1F1F2;
          border-radius: 10px;
          border: 0;

          > div {

            top: 2px;
          }
        }
      }
    }
  }
}